* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  
}

.title {
  background: #e3f4ff;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  
}

.content {
  background: #e3f4ff;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.button-container {
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  
  background: #e3f4ff;
}



button {
  display:block;
  margin: 0 auto;
  
  background: white;
  border: 1px solid #eee;
}